div#cabecalho{
    background-color: #563d7c;
}
div#rodape{
    background-color: #563d7c;
}
div#divCarousel{
    background-color: #563d7c;
}

/*style menu principal*/


button.btn:hover{
    color:#563d7c;
}
a.btn{
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #563d7c;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #563d7c;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s 
}
a.btn:hover{
    background-color: #563d7c;
    color:white;
}
a.btn#button{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid white;
    background-color: white;
    color:#563d7c;
}
a.link{
    color: white;
    text-decoration: none;
    background-color: transparent;
}
a.link:hover{
    /* color:#515545; */
    color: white;
    text-decoration:underline;
    }

.btn.dropdown-toggle{
    background-color: transparent;
    border: 1px solid #563d7c;
    color:#563d7c;
}


a.dropdown-item{
    color:#563d7c;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}
a.dropdown-item:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
    color:white;
}
div.dropdown-menu{
    border:1px solid #563d7c;
    color:#563d7c;
}
/* menu carousel */
a.btn#menu{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid white;
    background-color: white;
    color:#563d7c;
}
a.btn#menu:hover{
    background-color: #563d7c;
    color:white;
}

.btn-outline-primary#btnCarousel {
    color: white;
    border-color: white;
}
.btn-outline-primary#btnCarousel:hover {
    background-color:rgb(155, 130, 192);
    color:white;
    border-color:rgb(155, 130, 192);
}

/*formularios*/

div#formulario{
    background-color:#563d7c;
}
h5.modal-title{
    color:#563d7c;
}


/*tabela*/

thead, th {
    color: #563d7c;
    background-color: white;
}
tbody tr{
    color: #563d7c;
    background-color: white;
}
tbody tr:hover{
    color:white;
    background-color: #563d7c;
}
.table thead tr th{
    border-bottom: 2px solid #563d7c;
    border-top: 1px solid #563d7c;
}
.table tr th,td{
    border-bottom: 1px solid #563d7c;
}


/* carrousel */

li#list{ 
    background-color:#563d7c;
}
li#list:hover{ 
    background-color:white;
}